[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
quidax-python = "*"
psycopg2 = "*"
requests = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
