[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
quidax-python = "*"
psycopg2 = "*"
requests = "*"
psycopg2-binary = "*"
pusher = "*"
dj-database-url = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
